# App artifacts
/.c9
/_build
/deps
/tmp
/assets/node_modules
*.ez
*.beam

# crash artifacts & logs
erl_crash.dump
assets/npm-debug.log
assets/package-lock.json
mix.lock

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static

/.deliver/releases/
