# App artifacts
/_build
/deps
/tmp
/assets/node_modules
*.ez
*.beam

# crash artifacts & logs
erl_crash.dump
assets/npm-debug.log
assets/package-lock.json
mix.lock

# editor & operating system
.DS_store
.elixir_ls/

# fix to allow phx.digest to work properly
/priv/static/**/*
!/priv/static/.keep

# do not commit releases
/.deliver/releases/
