body {
  padding-top: 70px;
}

div.mce-fullscreen {
  z-index: 1050;
}

.pointer {
  cursor: pointer;
}

input.fake-ratings {
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  width: 50px;
}
