.starrating > input {
  display: none;
} /* Remove radio buttons */

.starrating > label {
  margin-bottom: 0;
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #ffca08;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label {
  color: #ffca08;
} /* Set yellow color when star hover */
