<%= render "form.html",
  action: registration_path(@conn, :update),
  changeset: @changeset,
  heading: dgettext("coherence", "Edit Account"),
  label: dgettext("coherence", "Update"),
  required: []
%>