/* Navbar */
nav.navbar{
  background-color: #1c543d;
}

nav.navbar .container {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: 8px -12px;
  height:40px;
  padding-left:195px;
}

nav.navbar li.active a{
  text-decoration: underline;
}

div.mce-fullscreen {
  z-index: 1050;
}

i[drab-click],
small[drab-click],
span[drab-click],
div[drab-click],
.pointer {
  cursor: pointer;
}

input.fake-ratings {
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  width: 50px;
}

#idea-form .card-footer input {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40px;
}

/* column layout */

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}

h5.card-title,
.rating {
  white-space: nowrap;
}

.auto-size,
text-area.form-control,
textarea.card-text {
  resize: none;
  overflow: hidden;
}

/* TABLES */
.icon-cell {
  width: 33px;
  text-align: center;
}

/* IDEAS and COMMENTS */
#ideas .card-body{
  background-color: #f1f1f1
}

.card-body > .text-justify{
  line-height: 120%;
}

/* COMMENTS */

.comment p{
  line-height: 120%;
}

.comment a:after { content: "Like" }
.comment[data-liked="true"] a:after { content: "Unlike" }

.comment[data-likes="0"] .likes { display: none!important; }
