body {
  padding-top: 70px;
}

div.mce-fullscreen {
  z-index: 1050;
}

i[drab-click],
small[drab-click],
span[drab-click],
div[drab-click],
.pointer {
  cursor: pointer;
}

input.fake-ratings {
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  width: 50px;
}

#idea-form .card-footer input {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40px;
}

/* column layout */

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

h5.card-title,
.rating {
  white-space: nowrap;
}

.auto-size,
textarea.card-text {
  resize: none;
  overflow: hidden;
  height: 29px;
}
