div.dataTables_wrapper div.dataTables_info {
  padding-top: 0em;
}

div.dataTables_wrapper label {
  margin-bottom: 0rem;
}

#ideas_filter,
#ideas_info {
  text-align: center;
}

#ideas {
  margin-top: 0 !important;
}

/* Disables steppers in number input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
