.ratings-wrapper span {
  font-size: 12px;
}

.rating i {
  color: orange;
}

.user-rating {
  z-index: 10;
}

.user-rating small {
  display: inline-block;
  height:28px;
  line-height:24px;
  vertical-align: middle;
}

.star-rating {
  float: left;
  padding: 0 8px;
}

.star-rating button:not(:first-of-type):hover{
  color: orange!important;
}

