.ratings-wrapper span {
  font-size: 12px;
}

.rating i {
  color: orange;
}

.user-rating {
  z-index: 10;
}

.user-rating small {
  display: inline-block;
  height:28px;
  line-height:24px;
  vertical-align: middle;
}

.star-rating {
  float: left;
  padding: 0 10px;
}

.star-rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
}

.star-rating:not(:checked) > label {
  float:right;
  color:#ccc;
}

.star-rating > input:checked ~ label {
  color: blue;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
  color: blue;
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
  color: blue;
}
