<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A collaboration tool">
    <meta name="author" content="Alexander Fuchsberger">
    <%= tag :meta, name: "token", content: Map.get @conn.assigns, :user_token, "" %>

    <title>Idea Nexus</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/images/favicon.ico") %>" >
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body
    data-admin="<%= admin?(@conn) %>"
    data-js-view-name="<%= js_view_name(@conn, @view_template) %>"
    <%= path_params_to_data_attributes(@conn) %>
  >
    <header class="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/topics"><i class="far fa-lightbulb mr-1"></i>Idea Nexus</a>
          <button
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            type="button"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mr-auto">
              <%= for t <- @conn.assigns.topics do %>
                <%= if t.featured && t.published, do:
                  nav_item @conn, t.short_title,
                    topic_idea_path(@conn, :index, t.id),
                    badge: t.idea_count,
                    popover: t.short_desc
                %>
              <% end %>
            </ul>
            <ul class="navbar-nav">
              <%= CollaborationWeb.Coherence.ViewHelpers.coherence_links(@conn, :layout) %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= flash_messages(@conn) %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <div id="spinner-wrapper">
      <div id="spinner" />
    </div>
  </body>
</html>
