<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# CSS Files & favicon %>
    <link rel="stylesheet"
      href="<%= Routes.static_path @conn, "/css/app.css" %>"/>
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
      crossorigin="anonymous"
    >
    <link rel="icon" type="image/x-icon"
      href="<%= Routes.static_path(@conn, "/images/favicon.ico") %>" >

    <%# Title & Metatags %>
    <title>Idea Nexus</title>
    <meta name="description" content="A collaboration tool">
    <meta name="author" content="Alexander Fuchsberger">
    <meta name="version" content="<%= version() %>">

    <%# JS files %>
    <%= render LayoutView, "google_analytics.js" %>
    <script>
      <%= debug() %>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body data-js-view-name="<%= js_view_name(@conn) %>">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <%= if admin?(@conn) do %>
            <%= nav_item(@conn, "Topics", Routes.topic_path(@conn, :index)) %>
            <%= nav_item(@conn, "New Topic", Routes.topic_path(@conn, :new)) %>
            <%= nav_item(@conn, "Users", Routes.user_path(@conn, :index)) %>
            <%= nav_item(@conn, "Participants", Routes.user_path(@conn, :participants)) %>
          <% end %>
        </ul>
        <%= if current_user(@conn) do %>
          <form class="form-inline">
            <%= if admin?(@conn) do %>
              <%= button_logout(@conn) %>
            <% else %>
              <%= button_timer(@conn) %>
              <%= button_complete(@conn) %>
              <%= button_abort(@conn) %>
            <% end %>
          </form>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= render_flash(@conn) %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
