<li class="list-group-item">
  <strong><%= @comment.user.firstname <> " " <> @comment.user.lastname %>: </strong>
  <i class='float-right'><time class="timeago" datetime="<%= @comment.inserted_at %>"></time></i>
  <%= @comment.text %>
</li>