.rating-area{
  width:80px;
}

.rating-area > .fa-star {
  color:#ddc03e;
  font-size:31px;
  line-height:31px;
}

.rating-area p {
  font-size:10px;
  line-height:10px;
  margin-bottom:1px;
}

.rating-area strong {
  font-size:20px;
  line-height:20px;
}