// show order icons in list headers (using list.js)
th.sort { cursor: pointer;  }
th.sort.asc  i:last-of-type:before { content: "\f0de"; }
th.sort.desc i:last-of-type:before { content: "\f0dd"; }

// Admin Topic Table
td.closed i, td.hidden i, td.admin i, td.faux i { cursor: pointer; }
td.closed[data-value=false] i.fa-lock      {display:none;}
td.closed[data-value=true]  i.fa-unlock    {display:none;}
td.hidden[data-value=false] i.fa-eye-slash {display:none;}
td.hidden[data-value=true]  i.fa-eye       {display:none;}
td.admin[data-value=false]  i.fa-user-plus {display:none;}
td.admin[data-value=true]   i.fa-user      {display:none;}
td.faux[data-value=false]   i.fa-check     {display:none;}
td.faux[data-value=true]    i.fa-times     {display:none;}