<table
  id="users"
  class="table table-sm table-hover nowrap"
  cellspacing="0"
  cellpadding="0"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Login</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
  <%= for u <- @users do %>
    <tr>
      <td><%= u.name %></td>
      <td>Fill with credential</td>
      <td><time datetime="<%= date(u.inserted_at) %>"></time></td>
    </tr>
  <% end %>
  </tbody>
</table>
