<table id="users" class="table table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
  <%= for u <- @users do %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
